<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <fieldset>
          <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="6" ng-if="blade.currentEntity" ng-init="setForm(formScope)"></va-metaform>
        </fieldset>
      </form>
      <va-widget-container group="contractDetail" blade="blade" data="blade.currentEntity" gridster-opts="{width: 526}"></va-widget-container>
    </div>
  </div>
</div>
<script type="text/ng-template" id="contract-details-name.html">
  <div class="form-input">
    <textarea class="__xsmall" ng-class="{'error': blade.formScope.itemName.$invalid && !blade.formScope.itemName.$pristine}" required cols="30" rows="1" ng-model="blade.currentEntity.name" name="itemName" placeholder="{{ 'Contract.blades.contract-details.placeholders.name' | translate }}"></textarea>
  </div>
</script>
<script type="text/ng-template" id="contract-details-code.html">
  <div class="form-input">
    <input ng-readonly="!blade.isNew" class="form-control" ng-model="blade.currentEntity.code" name="code" placeholder="{{ 'Contract.blades.contract-details.placeholders.code' | translate }}" ui-validate=" 'blade.codeValidator($value)' " />
  </div>
  <div class="form-error" data-ng-show="blade.formScope.code.$error.validator">
    {{ 'Contract.blades.contract-details.validation.code' | translate }}
  </div>
</script>
<script type="text/ng-template" id="contract-details-vendor.html">
  <label class="form-label">{{ 'Contract.blades.contract-details.labels.vendor' | translate }} <a href="" ng-click="blade.openVendorsManagement()" class="form-edit" va-permission="customer:read"><i class="form-ico fa fa-pencil"></i></a></label>
  <ui-scroll-drop-down ng-model="blade.currentEntity.vendorId"
                       data="blade.fetchVendors(criteria)"
                       placeholder="'Contract.blades.contract-details.placeholders.vendor'">
  </ui-scroll-drop-down>
</script>
<script type="text/ng-template" id="contract-details-startDate.html">
  <div class="form-input __calendar">
    <input placeholder="{{ 'Contract.blades.contract-details.placeholders.start-date' | translate }}" ng-model="blade.currentEntity.startDate" datepicker-popup is-open="blade.datepickers.start" />
    <button class="btn" type="button" ng-click="blade.open($event,'start')">
      <i class="btn-ico fa fa-calendar"></i>
    </button>
  </div>

</script>
<script type="text/ng-template" id="contract-details-endDate.html">
  <div class="form-input __calendar">
    <input placeholder="{{ 'Contract.blades.contract-details.placeholders.end-date' | translate }}" ng-model="blade.currentEntity.endDate" datepicker-popup is-open="blade.datepickers.end" />
    <button class="btn" type="button" ng-click="blade.open($event,'end')">
      <i class="btn-ico fa fa-calendar"></i>
    </button>
  </div>
</script>
<script type="text/ng-template" id="contract-details-status.html">
  <label class="form-label">
    {{ 'Contract.blades.contract-details.labels.status' | translate }}
    <a href="" ng-click="blade.openStatusSettingManagement()" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
  </label>
  <div class="form-input">
    <ui-select ng-model="blade.currentEntity.status" ng-disabled="blade.isLocked">
      <ui-select-match placeholder="{{ 'Contract.blades.contract-details.placeholders.status' | translate }}">{{$select.selected.value}}</ui-select-match>
      <ui-select-choices repeat="x.key as x in blade.statuses | filter: {'value': $select.search}">
        <span ng-bind-html="x.value | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>
<script type="text/ng-template" id="contract-details-store.html">
  <ui-scroll-drop-down required
                       disabled="!blade.isNew"
                       page-size="50"
                       ng-model="blade.currentEntity.storeId"
                       data="blade.searchStores(criteria)"
                       placeholder="'Contract.blades.contract-details.placeholders.store'">
  </ui-scroll-drop-down>
</script>
<script type="text/ng-template" id="contract-details-description.html">
  <div class="form-group">
    <label class="form-label">{{ 'Contract.blades.contract-details.labels.description' | translate }}</label>
    <div class="form-input">
      <textarea cols="30" rows="5" ng-model="blade.currentEntity.description" placeholder="{{ 'Contract.blades.contract-details.placeholders.description' | translate }}"></textarea>
    </div>
  </div>
</script>
