<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'Contract.blades.contract-details.labels.name' | translate }}</label>
                        <div class="form-input">
                            <input ng-model="blade.currentEntity.name" focus-on="" required ng-maxlength="128" placeholder="{{ 'Contract.blades.contract-details.placeholders.name' | translate }}">
                        </div>
                    </div>

                    <div class="form-group __info list">
                        <label class="form-label">{{ 'Contract.blades.contract-details.labels.description' | translate }}</label>
                        <div class="form-input">
                            <textarea cols="30" rows="5" ng-model="blade.currentEntity.description" placeholder="{{ 'Contract.blades.contract-details.placeholders.description' | translate }}"></textarea>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label __info list">{{ 'Contract.blades.contract-details.labels.start-date' | translate }}</label>
                                <div class="form-input __calendar">
                                    <input placeholder="{{ 'Contract.blades.contract-details.placeholders.start-date' | translate }}" ng-model="blade.currentEntity.startDate" datepicker-popup="" is-open="datepickers.start" />
                                    <button class="btn" type="button" ng-click="open($event,'start')">
                                        <i class="btn-ico fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label __info list">{{ 'Contract.blades.contract-details.labels.end-date' | translate }}</label>
                                <div class="form-input __calendar">
                                    <input placeholder="{{ 'Contract.blades.contract-details.placeholders.end-date' | translate }}" ng-model="blade.currentEntity.endDate" datepicker-popup="" is-open="datepickers.end" />
                                    <button class="btn" type="button" ng-click="open($event,'end')">
                                        <i class="btn-ico fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label" style="margin:0">{{'Contract.blades.contract-details.labels.store' | translate}}</label>
                                <ui-scroll-drop-down required
                                                     page-size="50"
                                                     ng-model="blade.currentEntity.storeId"
                                                     data="searchStores(criteria)"
                                                     placeholder="'Contract.blades.contract-details.placeholders.store'">
                                </ui-scroll-drop-down>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <va-widget-container group="contractDetail" blade="blade" data="blade.currentEntity" gridster-opts="{width: 526}"></va-widget-container>
            </form>
        </div>
    </div>
</div>
