<div class="blade-static" ng-if="blade.pricelistLinked">
    <div class="form-group searchrow">
        <div class="form-input column">
            <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" ng-model="filter.keyword" ng-keyup="$event.which === 13 && filter.criteriaChanged()">
            <button class="btn" title="Clear" ng-click="filter.keyword=null;filter.criteriaChanged()"></button>
        </div>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>

<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="note" ng-if="!listEntries.length && blade.pricelistLinked">{{ 'platform.list.no-data' | translate }}</div>
        <div ng-if="!listEntries.length && !blade.pricelistLinked" class="no-data-centered">
            <img class="image" ng-src="{{blade.noDataImage}}">
            <div class="no-data-centered-bottom-text">{{ 'Contract.blades.contract-prices.labels.no-data' | translate }}</div>
            <button class="btn" style="margin-top: 18px;" ng-click="linkPricelist()">
                <span>{{ 'Contract.blades.contract-prices.commands.link-pricelist' | translate }} <strong>+</strong></span>
            </button>
        </div>

        <div class="inner-block" ng-init="setGridOptions('contract-product-prices-grid', {
              useExternalSorting: false,
              data: 'listEntries',
              rowTemplate: 'contract-price-list.row.html',
              rowHeight: 60,
              columnDefs: [
                        {
                            name: 'actions', displayName: '', enableColumnResizing: false, enableSorting: false, width: 30,
                            cellTemplate: 'contract-price-list-actions.cell.html', pinnedLeft:true
                        },
                        {
                            name: 'productImgSrc', displayName: 'Contract.blades.contract-prices.labels.product-image',
                            enableColumnResizing: false, enableSorting: false, width: 60, cellTemplate: 'contract-product-icon.cell.html'
                        },
                        {
                            name: 'productName', displayName: 'Contract.blades.contract-prices.labels.product-name',
                            cellTooltip:true, sort: { direction: uiGridConstants.ASC }, width: '***'
                        },
                        {   name: 'productCode', displayName: 'Contract.blades.contract-prices.labels.product-code' },
                        {
                            name: 'groupPricesCount', displayName: 'Contract.blades.contract-prices.labels.price-count',
                            headerTooltip: 'pricing.blades.pricelist-item-list.labels.prices-count', width: 40},
                        {
                            name: 'prices', displayName: 'Contract.blades.contract-prices.labels.price-range',
                            headerTooltip: true, width: 60, cellTemplate: 'contract-product-priceRange.cell.html'
                        },
                        {   name: 'groupState', displayName: 'Contract.blades.contract-prices.labels.state',
                            cellTemplate: 'contract-product-state-icon.cell.html'
                        }
              ]})">
            <div class="table-wrapper" ng-if="listEntries.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
                <ul class="menu __context" role="menu" id="contract-product-prices-menu">
                    <li class="menu-item" ng-click='selectNode(contextMenuEntity)'>
                        <i class="menu-ico fa fa-edit"></i> {{'platform.commands.manage' | translate}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="contract-price-list-actions.cell.html">
    <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="contract-product-prices-menu">
        <i class="fa fa-ellipsis-v"></i>
    </div>
</script>

<script type="text/ng-template" id="contract-price-list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)"
         ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
         ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
         class="ui-grid-cell"
         ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.productId===grid.appScope.selectedNodeId }"
         role="{{ col.isRowHeader ? 'rowheader' : 'gridcell' }}"
         ui-grid-cell
         context-menu="grid.appScope.contextMenuEntity = row.entity"
         data-target="contract_prices_menu">
    </div>
</script>

<script type="text/ng-template" id="contract-product-icon.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="product-img">
            <div class="image" style="background-image: url('{{COL_FIELD}}')" ng-if="COL_FIELD"></div>
            <em class="table-ico fas fa-image" ng-if="!COL_FIELD"></em>
        </div>
    </div>
</script>

<script type="text/ng-template" id="contract-product-priceRange.cell.html">
    <div class="ui-grid-cell-contents">{{grid.appScope.getPriceRange(row.entity)}}</div>
</script>

<script type="text/ng-template" id="contract-product-state-icon.cell.html">
    <div ng-if="['New','Updated'].includes(row.entity.groupState)" class="ui-grid-cell-contents">
        <div class="inner-contents state-label">
            <div class="state-label-updated">
                {{'Contract.blades.contract-prices.labels.state-modified' | translate}}
            </div>
        </div>
    </div>
</script>
